PORT=5000
NODE_ENV=development
BASE_URL=http://localhost:5000
JWT_SECRET=super_secret_jwt_key_coworking_space_ukk_2026
DEFAULT_MAKER_KEY=mk_default_ukk_2026
DB_PATH=./database/database.sqlite

# SMTP Gmail Configuration (OTP Verification)
SMTP_USER=emailanda@gmail.com
SMTP_PASS=gngybjmhbytrnyaz
